Repository cornellshakh/signal-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit

ruff:
  name: ruff
  entry: poetry run ruff check --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: poetry run bandit -c bandit.yaml -r src
  language: system
  require_serial: true

feat: Enhance README with badges and add comprehensive refactoring plan; refactor clients to remove auth_token and implement new features
  README.md
  docs/07_getting_started_tutorial.md
  refactoring_plan.md
  src/signal_client/container.py
  src/signal_client/context.py
  src/signal_client/infrastructure/api_clients/accounts_client.py
  src/signal_client/infrastructure/api_clients/base_client.py
  src/signal_client/infrastructure/api_clients/contacts_client.py
  src/signal_client/infrastructure/api_clients/devices_client.py
  src/signal_client/infrastructure/api_clients/general_client.py
  src/signal_client/infrastructure/api_clients/groups_client.py
  src/signal_client/infrastructure/api_clients/messages_client.py
  src/signal_client/infrastructure/api_clients/profiles_client.py
  src/signal_client/infrastructure/api_clients/sticker_packs_client.py
  src/signal_client/infrastructure/schemas/link_preview.py
  src/signal_client/infrastructure/schemas/requests.py
  src/signal_client/link_previews.py
Due: ruff, ruff-format, mypy, bandit

refactor: Remove comprehensive refactoring plan document
  refactoring_plan.md
Due: none

refactor: Remove unused services and update context to eliminate lock manager
  README.md
  src/signal_client/container.py
  src/signal_client/context.py
  src/signal_client/domain/__init__.py
  src/signal_client/domain/exceptions.py
  src/signal_client/infrastructure/schemas/requests.py
  src/signal_client/services/__init__.py
  src/signal_client/services/lock_manager.py
  src/signal_client/services/storage_service.py
  tests/services/test_storage_service.py
  tests/test_bot.py
  tests/test_context.py
Due: ruff, ruff-format, mypy, bandit

docs: Update documentation to reflect recent architectural changes; add rate limiter and message parser details
  README.md
  docs/01_architecture.md
  docs/02_core_concepts.md
  docs/03_domain_layer.md
  docs/04_services_layer.md
  docs/05_infrastructure_layer.md
  docs/06_api_reference.md
  docs/07_getting_started_tutorial.md
  docs/08_configuration.md
  docs/README.md
Due: none

Add stress test for handling fast and slow commands
  .github/workflows/api_audit.yml
  .github/workflows/performance.yml
  docs/01_architecture.md
  docs/07_getting_started_tutorial.md
  docs/08_configuration.md
  docs/13_interactive_tutorial.ipynb
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  scripts/__init__.py
  scripts/audit_api.py
  src/signal_client/bot.py
  src/signal_client/container.py
  src/signal_client/exceptions.py
  src/signal_client/infrastructure/api_clients/base_client.py
  src/signal_client/infrastructure/storage/base.py
  src/signal_client/infrastructure/storage/redis.py
  src/signal_client/infrastructure/storage/sqlite.py
  src/signal_client/services/circuit_breaker.py
  src/signal_client/services/dead_letter_queue.py
  src/signal_client/services/lock_manager.py
  src/signal_client/services/message_service.py
  src/signal_client/services/worker_pool_manager.py
  swagger.json
  tests/test_performance.py
  tests/test_stress.py
Due: ruff, ruff-format, mypy, bandit

docs: Revamp documentation layout and styling; enhance user onboarding experience with new design elements and improved navigation
  docs/index.md
  docs/styles/extra.css
  mkdocs.yml
Due: none

Add additional MkDocs plugins for enhanced documentation features
  poetry.lock
  pyproject.toml
Due: none

chore: Update CI workflow to include poetry-plugin-export in tooling installation; remove unnecessary paths from docs workflow trigger
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

chore: Update documentation tooling to replace mkdocs-material with mkdocs-shadcn
  .github/workflows/docs.yml
Due: none

Update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Fix docs build by installing package for mkdocstrings
  .github/workflows/docs.yml
Due: none

Complete documentation improvements and fix cross-references
  docs/guides/recipes.md
  docs/operations.md
Due: none

Fix critical documentation flaws and rebuild comprehensive guides
  README.md
  docs/api-reference.md
  docs/guides/writing-async-commands.md
  docs/production_secrets.md
  docs/quickstart.md
  docs/troubleshooting.md
  pyproject.toml
Due: none

Fix GitHub Actions docs build and navigation issues
  docs/feature-tour.md
  docs/operations.md
  mkdocs.yml
Due: none

docs: comprehensive documentation improvements for individual developers
  docs/api-reference.md
  docs/architecture.md
  docs/configuration.md
  docs/diagnostics.md
  docs/guides/recipes.md
  docs/index.md
  docs/observability.md
  docs/operations.md
  docs/overview.md
  docs/production_secrets.md
  docs/quickstart.md
  docs/tee_privacy_architecture.md
  docs/troubleshooting.md
  docs/use-cases.md
Due: none

fix: update tooling installation to include poetry-plugin-export
  .github/workflows/publish.yml
Due: none

fix: separate poetry-plugin-export installation for clarity
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

docs: scaffold bot documentation hubs
  AGENTS.md
  docs/appendix/changelog.md
  docs/appendix/resources.md
  docs/appendix/tee_privacy_architecture.md
  docs/bots/architecture.md
  docs/bots/configuration.md
  docs/bots/diagnostics.md
  docs/bots/guides/recipes.md
  docs/bots/guides/writing-async-commands.md
  docs/bots/index.md
  docs/bots/observability.md
  docs/bots/quickstart.md
  docs/bots/testing.md
  docs/contribute/coding-standards.md
  docs/contribute/production-secrets.md
  docs/contribute/test-plan.md
  docs/discover/feature-tour.md
  docs/discover/overview.md
  docs/discover/use-cases.md
  docs/docs_plan.md
  docs/index.md
  docs/reference/api.md
  docs/reference/commands.md
  docs/reference/schema.md
  docs/run/observability.md
  docs/run/operations.md
  docs/run/performance.md
  macros/main.py
  mkdocs.yml
Due: ruff, ruff-format, bandit

Update documentation links and improve API schema handling
  AGENTS.md
  cli_rest_api_swagger.json
  docs/appendix/resources.md
  docs/bots/diagnostics.md
  docs/discover/feature-tour.md
  docs/docs_plan.md
  docs/reference/schema.md
  docs/run/observability.md
  docs/troubleshooting.md
  poetry.lock
  pyproject.toml
  scripts/audit_api.py
Due: ruff, ruff-format, bandit

fix: improve swagger spec handling and add validation for URL scheme
  macros/main.py
  scripts/audit_api.py
Due: ruff, ruff-format, bandit

feat: enhance publish workflow with optional release notes and metadata handling
  .github/workflows/publish.yml
  README.md
Due: none

fix: ensure proper closure of storage resources in SignalClient and tests
  src/signal_client/bot.py
  tests/integration/test_cli.py
Due: ruff, ruff-format, mypy, bandit

refactor: introduce comprehensive refactor plan for signal-client to enhance clarity, maintainability, and observability
  docs/REFACTOR_PLAN.md
Due: none

refactor: enhance worker pool and command routing for improved clarity and maintainability
  docs/REFACTOR_PLAN.md
  src/signal_client/runtime/worker_pool.py
  tests/services/test_worker_pool_manager.py
Due: ruff, ruff-format, mypy, bandit

refactor: reorganize storage modules and enhance DeadLetterQueue for improved clarity and functionality
  docs/REFACTOR_PLAN.md
  src/signal_client/app.py
  src/signal_client/infrastructure/storage/redis.py
  src/signal_client/services/dead_letter_queue.py
  src/signal_client/storage/__init__.py
  src/signal_client/storage/base.py
  src/signal_client/storage/redis.py
  src/signal_client/storage/sqlite.py
  tests/infrastructure/storage/test_redis.py
  tests/integration/test_storage.py
  tests/services/test_dead_letter_queue.py
Due: ruff, ruff-format, mypy, bandit

refactor: update README and refactor plan for improved clarity and accuracy; simplify dependency management in pyproject.toml
  README.md
  docs/REFACTOR_PLAN.md
  poetry.lock
  pyproject.toml
  src/signal_client/compatibility.py
Due: ruff, ruff-format, mypy, bandit

refactor: reorganize observability components and update metrics handling for improved clarity and functionality
  README.md
  docs/REFACTOR_PLAN.md
  src/signal_client/bot.py
  src/signal_client/metrics_server.py
  src/signal_client/observability/__init__.py
  src/signal_client/observability/logging.py
  src/signal_client/observability/metrics.py
  tests/test_metrics.py
Due: ruff, ruff-format, mypy, bandit

refactor: reorganize context dependencies and enhance README for improved clarity and structure
  README.md
  docs/REFACTOR_PLAN.md
  src/signal_client/app.py
  src/signal_client/context.py
  src/signal_client/context_deps.py
  src/signal_client/entities.py
  src/signal_client/runtime/listener.py
  src/signal_client/services/circuit_breaker.py
  tests/conftest.py
  tests/services/test_worker_pool_manager.py
  tests/test_context.py
Due: ruff, ruff-format, mypy, bandit

refactor: enhance code readability and organization across multiple modules; update comments and improve error handling
  docs/REFACTOR_PLAN.md
  scripts/audit_api.py
  src/signal_client/app.py
  src/signal_client/bot.py
  src/signal_client/cli.py
  src/signal_client/config.py
  src/signal_client/metrics.py
  src/signal_client/metrics_server.py
  src/signal_client/observability/__init__.py
  src/signal_client/observability/logging.py
  src/signal_client/runtime/command_router.py
  src/signal_client/runtime/listener.py
  src/signal_client/runtime/worker_pool.py
  src/signal_client/services/__init__.py
  src/signal_client/services/circuit_breaker.py
  src/signal_client/services/dead_letter_queue.py
  src/signal_client/services/worker_pool_manager.py
  src/signal_client/storage/sqlite.py
  tests/integration/test_cli.py
  tests/integration/test_storage.py
  tests/services/test_dead_letter_queue.py
  tests/services/test_message_parser.py
  tests/services/test_worker_pool_manager.py
  tests/test_bot.py
Due: ruff, ruff-format, mypy, bandit

refactor: enhance README with detailed setup instructions and examples; add multiple example scripts for improved usability
  README.md
  docs/REFACTOR_PLAN.md
  examples/README.md
  examples/api_clients_and_dlq.py
  examples/basic_bot.py
  examples/config_resiliency_and_metrics.py
  examples/context_helpers.py
  examples/routing_and_middleware.py
Due: ruff, ruff-format, bandit

refactor: add text_mode field to SendMessageRequest for enhanced message formatting options
  src/signal_client/infrastructure/schemas/requests.py
Due: ruff, ruff-format, mypy, bandit

refactor: enhance profile and receipt schemas; add new fields to SendMessageRequest for improved message handling
  src/signal_client/infrastructure/schemas/profiles.py
  src/signal_client/infrastructure/schemas/receipts.py
  src/signal_client/infrastructure/schemas/requests.py
Due: ruff, ruff-format, mypy, bandit

refactor: streamline message handling; replace SendMessageRequest with simplified reply_text method and enhance context functionality
  README.md
  examples/api_clients_and_dlq.py
  examples/basic_bot.py
  examples/config_resiliency_and_metrics.py
  examples/context_helpers.py
  examples/routing_and_middleware.py
  src/signal_client/context.py
  src/signal_client/infrastructure/api_clients/profiles_client.py
  src/signal_client/infrastructure/schemas/link_preview.py
  src/signal_client/infrastructure/schemas/receipts.py
  src/signal_client/infrastructure/schemas/requests.py
  src/signal_client/infrastructure/schemas/responses.py
  tests/conftest.py
  tests/infrastructure/api_clients/test_profiles_client.py
  tests/test_context.py
Due: ruff, ruff-format, mypy, bandit

refactor: improve error handling in Swagger spec download and enhance context factory in tests
  scripts/audit_api.py
  src/signal_client/infrastructure/schemas/receipts.py
  src/signal_client/infrastructure/schemas/responses.py
  tests/conftest.py
  tests/test_context.py
Due: ruff, ruff-format, mypy, bandit

refactor: remove example scripts and enhance application architecture; integrate durable queues and checkpointing for improved message handling
  examples/README.md
  examples/api_clients_and_dlq.py
  examples/basic_bot.py
  examples/config_resiliency_and_metrics.py
  examples/context_helpers.py
  examples/routing_and_middleware.py
  src/signal_client/app.py
  src/signal_client/config.py
  src/signal_client/observability/metrics.py
  src/signal_client/runtime/listener.py
  src/signal_client/runtime/worker_pool.py
  src/signal_client/services/checkpoint_store.py
  src/signal_client/services/intake_controller.py
  src/signal_client/services/lock_manager.py
  src/signal_client/services/persistent_queue.py
  src/signal_client/storage/sqlite.py
Due: ruff, ruff-format, mypy, bandit

feat: implement HealthServer with liveness, readiness, and DLQ inspection endpoints
  src/signal_client/health_server.py
Due: ruff, ruff-format, mypy, bandit

feat: add comprehensive OpenSpec commands and audit report for public release readiness
  .gemini/commands/openspec/apply.toml
  .gemini/commands/openspec/archive.toml
  .gemini/commands/openspec/proposal.toml
  AGENTS.md
  openspec/AGENTS.md
  openspec/changes/audit-public-release-readiness/AUDIT_REPORT.md
  openspec/changes/audit-public-release-readiness/proposal.md
  openspec/changes/audit-public-release-readiness/specs/project-audits/spec.md
  openspec/changes/audit-public-release-readiness/tasks.md
  openspec/project.md
Due: none

refactor: clean up .gitignore and improve README formatting for clarity
  .gitignore
  README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^(src/|tests/) and \.py$
  bandit: any of: \.py$
