Repository cornellshakh/signal-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit

ruff:
  name: ruff
  entry: poetry run ruff check --fix --show-fixes
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: poetry run bandit -c bandit.yaml -r src
  language: system
  require_serial: true

docs: clarify pre-commit hook setup instructions in README
  README.md
Due: none

feat: enhance documentation and branding; refactor API request options and logging
  .github/workflows/docs.yml
  CODEX_PROMPT.md
  README.md
  docs/brand_voice.md
  docs/branding.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  signal_client/adapters/api/__init__.py
  signal_client/adapters/api/base_client.py
  signal_client/adapters/api/request_options.py
  signal_client/core/__init__.py
  signal_client/core/context.py
  signal_client/runtime/listener.py
  signal_client/runtime/services/message_parser.py
  signal_client/runtime/worker_pool.py
  tests/adapters/storage/test_redis.py
Due: ruff, ruff-format, mypy, bandit

refactor: remove unnecessary secrets declaration from workflow files
  .github/workflows/docs-build.yml
  .github/workflows/docs-release.yml
Due: none

refactor: update permissions for pages in docs-release workflow
  .github/workflows/docs-release.yml
Due: none

Enhance API documentation and examples for signal-client
  .github/workflows/docs-build.yml
  .pa11yci.json
  docs/assets/brand/favicon.png
  docs/assets/brand/hero-pattern.svg
  docs/assets/brand/logo-dark.svg
  docs/assets/brand/logo.svg
  docs/assets/brand/theme.css
  docs/assets/brand/wordmark.svg
  docs/changelog/index.md
  docs/components/playground.md
  docs/contributing/docs-authoring.md
  docs/contributing/docs-ops.md
  docs/examples.md
  docs/getting_started.md
  docs/guides/advanced_usage.md
  docs/guides/production_deployment.md
  docs/guides/release.md
  docs/index.md
  docs/reference/api.md
  examples/ping_bot.py
  examples/reminder_bot.py
  examples/webhook_relay.py
  lighthouserc.js
  macros.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: ruff, ruff-format, bandit

refactor: remove unused assets and improve button styles in theme
  assets/logo.svg
  assets/styles/extra.css
  docs/assets/brand/hero-pattern.svg
  docs/assets/brand/theme.css
  docs/assets/logo.svg
  docs/assets/mermaid-init.js
  docs/index.md
  macros.py
  mkdocs.yml
Due: ruff, ruff-format, bandit

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^(src/|tests/) and \.py$
  bandit: any of: \.py$
